sample_code/out/
sample_code/out_make/
.vscode/
builds/
api_tester/out/
api_tester/pynq_out/
api_tester/sysc_out/
api_tester/sys_out/

axi4mlir.code-workspace
scripts/output/*
scripts/retrieve_jude.sh
scripts/send_jude.sh
hw_parser/commands
hw_parser/old_code
benchmark_conv/results_conv/
api_tester/conv_driver_v1/generated/*
api_tester/conv_driver_v1/output/*
